.account-menu_container {
  position: absolute;

  margin-top: 40px;
}
.account-menu_ul {
  background-color: #134068ae;
  padding: 10px;
  transition: all 0.3s;

  border-radius: 5px;
}

.account-menu_ul:hover {
  background-color: var(--primary-color);
}

.account-menu_li {
  padding: 5px 10px;
  text-align: justify;
  border-radius: 2px;
  cursor: pointer;
  color: var(--background-color);
}

.account-menu_li:hover {
  background-color: var(--second-color);
  color: var(--background-color);
}
.active-menu_account {
  text-decoration: underline;
  border-radius: 2px;
}

.account-menu-close {
  display: none;
}
@media screen and (max-width: 768px) {
  .account-menu_container {
    top: -10%;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .account-menu_ul {
    border: 1px solid white;
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .active-menu_account {
    background-color: var(--second-color);
    padding: 1px 50px;
    border-radius: 2px;
  }
  .account-menu-close {
    color: var(--background-color);
    font-size: 2rem;
    cursor: pointer;
  }
}
