.bodyoffers-container {
  width: 100%;
  height: 100%;
  background-color: #f1f1e6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.bodyoffers-title {
  color: var(--primary-color);
  padding: 15px 0;
  font-weight: 600;
  font-size: 20px;
  opacity: 0.7;
}
.bodyoffers-offer_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 50px;
}
@media screen and (min-width: 768px) {
  .bodyoffers-offer_wrapper {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
.bodyoffers-offer_container {
  border-radius: 25px;
  background-color: #fff;
  width: 200px;
  margin-bottom: 75px;
  margin-left: 30px;
  margin-right: 30px;
  align-items: flex-start;
  line-height: 1.3;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 20px;
  height: 300px;
  justify-content: space-between;
}
.bodyoffers-offer_container:hover,
.bodyoffers-offer_container:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.bodyoffers-offer_title,
.bodyoffers-offer_city {
  color: #134168;
  margin: 0;
}

.bodyoffers-offer_title {
  font-size: 16px;
}

.bodyoffers-offer_city {
  font-weight: bold;
  font-size: 25px;
}

.bodyoffers-offer_salary {
  font-size: 16px;
}

.bodyoffers-offer_button-info {
  border-style: hidden;
  padding: 10px 15px;
  background-color: #00b3ff;
  border-radius: 5px;
  color: #f1f1e6;
  cursor: pointer;
  box-shadow: 2px 2px 7px #00b3ff;
}
