.infos-compagny_container {
  width: 100vw;
  /* border: 1px solid red; */
  height: 100px;
}

.infos-compagny_column {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  /* border: 3px solid blue; */
}

.infos-compagny_logo-container {
  width: 70px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 30px;
  position: relative;
}

.infos-compagny_logo {
  width: 100%;
  height: 100%;
  display: flex;
}

.borded-img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 5px solid var(--background-color); /* couleur du cadre */
}

.borded-img2 {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 1px solid var(--primary-color); /* couleur du cadre */
}

.infos-compagny_h1 {
  /* border: 1px solid green; */
  font-size: 2rem;
  margin-right: 30px;
  display: flex;
  align-items: center;

  font-style: italic;
}

@media screen and (min-width: 768px) {
  .infos-compagny_column {
    justify-content: space-around;
  }
}
