footer {
  bottom: 0;
  width: 100%;
  background-color: var(--primary-color);
  color: white;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

.footer-icons {
  display: flex;
}

.icon {
  color: var(--background-color);
}
.icon:not(:last-child) {
  padding-right: 10px;
}
.icon:hover,
.icon:focus {
  color: var(--extra-color);
  transition: all 0.07s ease-in-out;
}

@media screen and (min-width: 768px) {
  .footer-icons {
    padding-right: 40px;
  }
  .footer-title {
    padding-left: 40px;
  }
}
