footer {
  z-index: 9;
  bottom: 0;
  width: 100%;
  background-color: var(--primary-color);
  position: fixed;
  color: white;
  padding: 10px;
  display: flex;

  justify-content: space-between;
  align-items: flex-start;
}

.footer-info {
  margin-left: 10px;
}

.footer-link {
  color: white;
}

.footer-icons {
  display: flex;
}

.icon {
  color: var(--background-color);
}
.icon:not(:last-child) {
  padding-right: 10px;
}
.icon:hover,
.icon:focus {
  color: var(--extra-color);
  transition: all 0.07s ease-in-out;
}

.footer-title,
.footer-link {
  font-size: 12px;
}
@media screen and (min-width: 768px) {
  .footer-icons {
    padding-right: 40px;
  }
  .footer-title {
    padding-left: 40px;
  }
  .footer-info {
    display: flex;
    align-items: center;
  }
  .footer-link {
    margin-left: 20px;
  }
}

@media screen and (max-width: 767px) {
  footer {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }
  .footer-info {
    text-align: center;
    padding-bottom: 10px;
  }
  .footer-info-item {
    padding-bottom: 5px;
  }
  .footer-icons {
    padding-bottom: 5px;
  }
}
