.form-offer_container {
  width: 100%;
  height: 100%;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-bottom: 10rem;
}

.form-offer_data-column {
  display: flex;
  flex-direction: column;
  margin-bottom: 5px;
  margin: 1rem 0.5rem;
  width: 100%;
  align-items: center;
  background-color: white;
  border-radius: 3px;
  box-shadow: 0px 1px 11px 3px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 1px 11px 3px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 1px 11px 3px rgba(0, 0, 0, 0.75);
}
.form-offer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-offer_select-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form-offer_select-label {
  width: 200px;
}

.form-offer_select_select {
  width: 100%;
  margin: 0.5rem 0;
  padding: 10px;
  background-color: var(--primary-color);
  color: white;
  text-transform: uppercase;
  cursor: pointer;
}

.form-offer_data-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-input_textearea {
  height: 10rem;
  margin-top: 1rem;
}

.form-label_data {
  display: flex;
  flex-direction: column;
  margin-bottom: 5px;
  margin: 1rem 0.5rem;
  width: 80%;
}

@media screen and (min-width: 768px) {
  .form-offer_select-container {
    width: 70%;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .form-offer_select-label {
    margin: 0 1.5rem;
  }
  .form-offer_data-container {
    width: 70%;
  }
  .form-offer_data-column {
    width: 100%;
  }
}

.form-input_textearea {
  border: 1px solid var(--second-color);
  border-radius: 3px;
}

@media screen and (min-width: 1024px) {
  .form-offer_data-1 {
    width: 100%;
    justify-content: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}
